<div id="content" class="site-content">
    <div class="page-header flex-middle">
        <div class="container">
            <div class="inner flex-middle">
                <h1 class="page-title">Contato</h1>
                <ul id="breadcrumbs" class="breadcrumbs none-style">
                    <li><a href="/">Início</a></li>
                    <li class="active">Contato</li>
                </ul>
            </div>
        </div>
    </div>
    <section class="contact-page">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="contact-left">
                        <div class="ot-heading">
                            <span>// Dados de contato</span>
                            <!-- <h2 class="main-heading">Contatos</h2> -->
                        </div>
                        <div class="space-5"></div>
                        <p>Teremos o maior prazer em responder todas às suas perguntas.</p>
                        <a href="{{ .Site.Params.whatsappLink }}">
                        <div class="contact-info box-style1">
                            <i class="flaticon-phone-1"></i>
                            <div class="info-text">
                                <h6>Whatsapp:</h6>
                                <p>+55 21 960205871</p>
                            </div>
                        </div>
                        </a>
                        <a href="mailto:contato@linkysystems.com">
                        <div class="contact-info box-style1">
                            <i class="flaticon-envelope"></i>
                            <div class="info-text">
                                <h6>E-mail:</h6>
                                <p>contato@linkysystems.com</p>
                            </div>
                        </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>