<header id="site-header" class="site-header header-style-2 header-fullwidth sticky-header header-static">
  <!-- Main Header start -->
  <div class="header-topbar">
    <div class="octf-area-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <ul class="topbar-info">
              <li><i class="fas fa-envelope"></i><a href="mailto:contato@linkysystems.com">contato@linkysystems.com</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 text-right">
            <div class="topbar-right">
              <ul class="extra-text">
                <li>Somos criativos, ambiciosos e prontos para desafios! <a href="/contato">Contrate-nos</a></li>
              </ul>
              <ul class="social-list">
                <li><a href="https://www.linkedin.com/company/linky-systems" target="_self"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li><a href="https://github.com/linkysystems" target="_self"><i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="octf-main-header">
    <div class="octf-area-wrap">
      <div class="container-fluid octf-mainbar-container">
        <div class="octf-mainbar">
          <div class="octf-mainbar-row octf-row">
            <div class="octf-col logo-col">
              <div id="site-logo" class="site-logo">
                <a href="/">
                  <img src="/img/logoo.png" alt="Linky Systems" class="">
                </a>
              </div>
            </div>
            <div class="octf-col menu-col">
              <nav id="site-navigation" class="main-navigation">
                <ul class="menu">
                  <li class="current-menu-item current-menu-ancestor">
                    <a href="/">Início</a>
                  </li>
                  <li><a href="/portfolio">Portfólio</a></li>
                  <li><a href="/servicos">Serviços</a></li>
                  <li><a href="/projetos">Projetos</a></li>
                  <li><a href="/contato">Contatos</a></li>
                </ul>
              </nav>
            </div>
            <div class="octf-col cta-col text-right">
              <div class="octf-btn-cta">
                <div class="octf-header-module">
                  <div class="btn-cta-group contact-header">
                    <i class="fas fa-phone"></i>
                    <div class="cinfo-header">
                      <span>Precisa de ajuda?</span>
                      <span class="main-text"><a href="http://wa.me/5521960205871" target="_blank">+55 21 960205871</a></span>
                    </div>
                  </div>
                </div>

                <div class="octf-header-module">
                  <div class="btn-cta-group btn-cta-header">
                    <a class="octf-btn octf-btn-third" href="/contato">Contato</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="header_mobile">
    <div class="container">
      <div class="mlogo_wrapper clearfix">
        <div class="mobile_logo">
          <a href="/">
            <img src="images/logo.svg" alt="Engitech">
          </a>
        </div>
        <div id="mmenu_toggle">
          <button></button>
        </div>
      </div>
      <div class="mmenu_wrapper">
        <div class="mobile_nav collapse">
          <ul id="menu-main-menu" class="mobile_mainmenu">
            <li class="menu-item-has-children current-menu-item current-menu-ancestor">
              <a href="/">Home</a>
              <ul class="sub-menu">
                <li><a href="/">Home 1</a></li>
                <li class="current-menu-item"><a href="index-2.html">Home 2</a></li>
                <li><a href="index-3.html">Home 3</a></li>
                <li><a href="index-4.html">Home 4</a></li>
                <li><a href="index-5.html">Home 5</a></li>
                <li><a href="index-6.html">Home 6</a></li>
                <li><a href="index-7.html">Home 7</a></li>
                <li><a href="index-8.html">Home 8</a></li>
                <li><a href="index-9.html">Home 9</a></li>
                <li><a href="index-10.html">Home 10</a></li>
                <li><a href="index-11.html">Home 11</a></li>
                <li><a href="index-12.html">Home 12</a></li>
                <li><a href="index-13.html">Home 13</a></li>
                <li><a href="index-14.html">Home 14</a></li>
                <li><a href="index-15.html">Home 15</a></li>
                <li><a href="index-16.html">Home 16</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Company</a>
              <ul class="sub-menu">
                <li><a href="about-us.html">About us</a></li>
                <li><a href="why-choose-us.html">Why Choose Us</a></li>
                <li><a href="our-team.html">Our team</a></li>
                <li><a href="single-team.html">Single team</a></li>
                <li class="menu-item-has-children"><a href="shop.html">Shop</a>
                  <ul class="sub-menu">
                    <li><a href="single-product.html">Single Product</a></li>
                    <li><a href="checkout-page.html">Checkout Page</a></li>
                    <li><a href="cart-page.html">Cart Page</a></li>
                  </ul>
                </li>
                <li><a href="typography.html">Typography</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="faq.html">FAQS</a></li>
                <li><a href="404-error.html">404 Error</a></li>
                <li><a href="cooming-soon.html">Coming Soon</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Services</a>
              <ul class="sub-menu">
                <li><a href="it-services.html">It Services</a></li>
                <li><a href="web-development.html">Web Development</a></li>
                <li><a href="mobile-development.html">Mobile Development</a></li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="#">Projects</a>
              <ul class="sub-menu">
                <li><a href="portfolio-masonry.html">Portfolio Masonry</a></li>
                <li><a href="portfolio-carousel.html">Portfolio Carousel</a></li>
                <li class="menu-item-has-children"><a href="portfolio-grid.html">Portfolio Grid</a>
                  <ul class="sub-menu">
                    <li><a href="portfolio-grid.html">Portfolio 3 Columns</a></li>
                    <li><a href="portfolio-4-column.html">Portfolio 4 Columns</a></li>
                    <li><a href="portfolio-no-gap.html">Portfolio No Gap</a></li>
                  </ul>
                </li>
                <li class="menu-item-has-children"><a href="portfolio-details-1.html">Portfolio
                    Details</a>
                  <ul class="sub-menu">
                    <li><a href="portfolio-details-1.html">Single Layout 1</a></li>
                    <li><a href="portfolio-details-2.html">Single Layout 2</a></li>
                    <li><a href="portfolio-details-3.html">Single Layout 3</a></li>
                  </ul>
                </li>
              </ul>
            </li>
            <li class="menu-item-has-children"><a href="blog.html">Blog</a>
              <ul class="sub-menu">
                <li><a href="blog.html">Blog Listing</a></li>
                <li><a href="blog-grid.html">Blog Grid</a></li>
                <li><a href="post.html">Blog Single</a></li>
              </ul>
            </li>
            <li><a href="contact.html">Contacts</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>