<div id="content" class="site-content">
    <section class="home2-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 align-self-center">
                    <div class="home2-top-right">
                        <p class="small-text">// Qualidade, Usabilidade e Desempenho</p>
                        <h2>SOLUÇÕES TECNOLÓGICAS</h2>
                        <p class="sub-text">Transformamos negócios dos principais setores com soluções digitais poderosas e adaptáveis que satisfazem as necessidades atuais.</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-left mb-4 mb-lg-0">
                    <img src="/images/big-logo-home2.png" alt="">
                </div>
            </div>
        </div>
    </section>
    <section class="section-business">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ot-heading mb-0">
                        <span>// Nós transformamos empresas</span>
                        <h2 class="main-heading">Há mais de 7 anos.<br>Diversos clientes satisfeitos.</h2>
                    </div>
                </div>
                <div class="col-lg-7 align-self-end">
                    <p class="mb-0">O desenvolvimento de soluções de software confiáveis e escaláveis para qualquer sistema operacional, navegador e dispositivo. Reunimos profundo conhecimento do setor e os mais recentes avanços em TI para fornecer soluções e produtos personalizados que atendem perfeitamente às necessidades e ao comportamento de seus usuários.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-clent-h2">
        <div class="container">
            <div class="row mt--290 justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                    <div class="support-box">
                        <div class="inner-box">
                            <div class="overlay flex-middle">
                                <span class="number-box">01</span>
                                <div class="inner">
                                    <p>Na Linky Systems, trabalhamos para oferecer sites lindos com acessibilidade, SEO e simples para seus usuários!</p>
                                    <!-- <a href="/servicos" class="btn-details"><i class="flaticon-right-arrow-1"></i> Ver mais</a> -->
                                </div>
                            </div>
                            <div class="content-box">
                                <span class="number-box">01</span>
                                <h3>Webdesign</h3>
                                <img src="/images/flipbox1.jpg" alt="Webdesign">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                    <div class="support-box">
                        <div class="inner-box">
                            <div class="overlay flex-middle">
                                <span class="number-box">02</span>
                                <div class="inner">
                                    <p>Levantamento de requisitos, design e layout para o desenvolvimento de sites, portais, sistemas de gestão da aprendizagem (LMS), Web services com Drupal, Gohugo, Moodle e Node.js.</p>
                                    <!-- <a href="web-development.html" class="btn-details"><i class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                </div>
                            </div>
                            <div class="content-box">
                                <span class="number-box">02</span>
                                <h3>Sistemas</h3>
                                <img src="/images/flipbox2.jpg" alt="Sistemas customizados">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="support-box">
                        <div class="inner-box">
                            <div class="overlay flex-middle">
                                <span class="number-box">03</span>
                                <div class="inner">
                                    <p>Temos um time de experts em portais institucionais, sistema de gestão da aprendizagem, aplicativos Web e sistemas de comunicação e interação disponível para oferecer sugestões em decisões, arquitetura em seu negócio.</p>
                                    <!-- <a href="mobile-development.html" class="btn-details"><i class="flaticon-right-arrow-1"></i> LEARN MORE</a> -->
                                </div>
                            </div>
                            <div class="content-box">
                                <span class="number-box">03</span>
                                <h3>Consultoria</h3>
                                <img src="/images/flipbox3.jpg" alt="Consultoria">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="space-90"></div> -->
            <!-- <div class="row">
                <div class="col-md-12">
                    <div class="partners">
                        <div class="owl-carousel owl-theme home-client-carousel">
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client1.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client2.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client3.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client4.png" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client5.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client6.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client1.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client2.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client3.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client4.png" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client5.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client6.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->

            <div class="section-inner-about">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="left-img">
                            <img src="images/image1-home2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="right-content">
                            <div class="ot-heading">
                                <span>// Sobre nós</span>
                                <h2 class="main-heading">Seu parceiro para inovação de software</h2>
                            </div>
                            <p>Na Linky Systems garantimos o sucesso dos nossos clientes criando laços de parcerias que duram anos. Temos clientes com mais de 6 anos de serviços prestado e sucesso.</p>
                            <p><em class="text-dark"><strong>Podemos ajudar a manter e modernizar seus sistemas, CI/CD, processo de desenvolvimento e resolver vários problemas específicos de infraestrutura que uma empresa pode enfrentar.</strong></em></p>
                            <div class="space-20"></div>
                            <!-- <div class="ot-button">
                                <a href="about-us.html" class="octf-btn octf-btn-primary">Learn More</a>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="technology-left">
                        <div class="ot-heading">
                            <span class="text-primary-light">// technology index</span>
                            <h2 class="main-heading text-white">Melhore e inove com as tendências tecnológicas</h2>
                        </div>
                        <p>Nossa equipe pode ajudá-lo a transformar seu negócio por meio dos recursos tecnológicos mais recentes para se manter à frente da curva.</p>
                        <ul class="style-none text-white">
                            <li><i class="fas fa-check"></i> Desenvolvimento de aplicações</li>
                            <li><i class="fas fa-check"></i> Sistemas customizados</li>
                            <li><i class="fas fa-check"></i> EAD com Moodle</li>
                            <li><i class="fas fa-check"></i> Soluções com IA - Inteligência Artificial</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center" href="#" target="_blank">
                                <div class="icon-main"><span class="flaticon-code-1"></span></div>
                                <h5>WEB</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center" href="#">
                                <div class="icon-main"><span class="flaticon-android"></span></div>
                                <h5>A.I.</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center" href="#">
                                <div class="icon-main"><span class="flaticon-report-1"></span></div>
                                <h5>Big data</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center mb-0" href="#">
                                <div class="icon-main"><span class="flaticon-iot"></span></div>
                                <h5>IOT</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center mb-0" href="#">
                                <div class="icon-main"><span class="flaticon-process"></span></div>
                                <h5>Automation</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center mb-0" href="#">
                                <div class="icon-main"><span class="flaticon-seo-and-web"></span></div>
                                <h5>SEO</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-case-study">
        <div class="container">
            <div class="cta-h2">
                <div class="row">
                    <div class="col-lg-8 col-md-8 mb-4 mb-md-0">
                        <div class="ot-heading">
                            <span>// A qualidade para garantir o sucesso do seu negócio.</span>
                            <h2 class="main-heading">Vamos desenvolver seu projeto!</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 align-self-end">
                        <div class="ot-button text-center text-md-right">
                            <a href="/contato" class="octf-btn octf-btn-primary">Entre em contato</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-5">
                    <div class="ot-heading mb-0">
                        <span>// latest case studies</span>
                        <h2 class="main-heading">Introduce Our Projects</h2>
                    </div>
                </div>
                <div class="col-lg-5 align-self-end">
                    <p class="mb-0">We’ve exceled our experience in a wide range of industries to bring valuable insights and provide our customers.</p>
                </div>
                <div class="col-lg-2 align-self-end">
                    <div class="ot-button">
                        <a href="portfolio-grid.html" class="btn-details"><i class="flaticon-right-arrow-1"></i>VIEW ALL PROJECTS</a>
                    </div>
                </div>
            </div> -->
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="project-filter-wrapper pt-50">
                        <div class="projects-grid projects-style-1 projects-col3 projects-no-gaps">

                            <div class="project-item design ideas">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-1.html">
                                            <img src="images/projects/720x720/project1-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-1.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-1.html">App for Virtual Reality</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Design</a><span>/</span>
                                                <a href="#">Ideas</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item development">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-2.html">
                                            <img src="images/projects/720x720/project2-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-2.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-2.html">Mobile Coin View App</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Development</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item ideas technology">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-3.html">
                                            <img src="images/projects/720x720/project3-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info">
                                        <a class="overlay" href="portfolio-details-3.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-3.html">Analysis of Security</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Ideas</a><span>/</span>
                                                <a href="#">Technology</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item design ideas">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-1.html">
                                            <img src="images/projects/720x720/project4-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-1.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-1.html">eCommerce Website</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Design</a><span>/</span>
                                                <a href="#">Ideas</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item development ideas">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-2.html">
                                            <img src="images/projects/720x720/project6-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-2.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-2.html">Responsive Design</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Development</a><span>/</span>
                                                <a href="#">Ideas</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item development">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-3.html">
                                            <img src="images/projects/720x720/project5-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-3.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-3.html">App for Health</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Development</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div> -->

            <!-- <div class="row pt-110">
                <div class="col-md-3 col-sm-6 col-6 mb-4 sb-sm-0">
                    <div class="ot-counter">
                        <div>
                            <span class="num" data-to="330" data-time="2000">0</span>
                            <span>+</span>
                        </div>
                        <h6>Active Clients</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-4 sb-sm-0">
                    <div class="ot-counter">
                        <div>
                            <span class="num" data-to="850" data-time="2000">0</span>
                            <span>+</span>
                        </div>
                        <h6>projects done</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="ot-counter">
                        <div>
                            <span class="num" data-to="25" data-time="2000">0</span>
                            <span>+</span>
                        </div>
                        <h6>team advisors</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="ot-counter">
                        <div>
                            <span class="num" data-to="10" data-time="2000">0</span>
                            <span>+</span>
                        </div>
                        <h6>Glorious Years</h6>
                    </div>
                </div>
            </div> -->
        </div>
    </section>

    <section class="section-industris">
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="ot-heading">
                    <span>// Qualidade e eficiência</span>
                    <h2 class="main-heading">Soluções para cada <br>negócio</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="ot-industries">
                <div class="owl-carousel owl-theme industries-inner ot-industries-slider">

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="/images/b-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Banking e Fintechs</h6>
                                <div class="itext">
                                    Nossos profíssionais possuem experiencia com soluções para fintechs e diversas soluções de pagamentos.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="/images/j-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Jogos e entreterimento</h6>
                                <div class="itext">
                                    Seu negócio precisa oferecer serviços em tempo real? Temos soluções que vão atender suas necessidades.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="/images/p-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Portais e sites</h6>
                                <div class="itext">
                                    Desenvolvemos sites lindos, acessíveis integrados nas redes sociais e alto nível de SEO.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="/images/t-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Educação e EAD</h6>
                                <div class="itext">
                                    Oferecemos soluções avançadas para EAD e educação virtual e presencial usando as melhores tecnologias.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section-consultation">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>// Deixe-nos uma mensagem! Estamos aqui para responder às suas perguntas.</p>
                    <h2>Mais infomações?</h2>
                    <div class="ot-button">
                        <a href="/contato" class="octf-btn octf-btn-primary">Entre em contato</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
