<div id="content" class="site-content">
    <section class="home2-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left mb-4 mb-lg-0">
                    <img src="/images/big-logo-home2.png" alt="">
                </div>
                <div class="col-lg-6 align-self-center">
                    <div class="home2-top-right">
                        <p class="small-text">// Funcional, Usabilidade e Desempenho</p>
                        <h2>SOLUÇÕES TECNOLÓGICAS</h2>
                        <p class="sub-text">Transformamos negócios dos principais setores com soluções digitais poderosas e adaptáveis que satisfazem as necessidades atuais.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section-business">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <div class="ot-heading mb-0">
                        <span>// We transform businesses</span>
                        <h2 class="main-heading">For Over 15 Years. <br>For Millions of Users</h2>
                    </div>
                </div>
                <div class="col-lg-7 align-self-end">
                    <p class="mb-0">The development of reliable and scalable software solutions for any OS, browser and device. We bring together deep industry expertise and the latest IT advancements to deliver custom solutions and products that perfectly fit the needs and behavior of their users.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="section-clent-h2">
        <div class="container">
            <div class="row mt--290 justify-content-center">
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                    <div class="support-box">
                        <div class="inner-box">
                            <div class="overlay flex-middle">
                                <span class="number-box">01</span>
                                <div class="inner">
                                    <p>Entrust full-cycle implementation of your software product to our experienced BAs, UI/UX designers, developers.</p>
                                    <a href="it-services.html" class="btn-details"><i class="flaticon-right-arrow-1"></i> LEARN MORE</a>
                                </div>
                            </div>
                            <div class="content-box">
                                <span class="number-box">01</span>
                                <h3>Outsoursing</h3>
                                <img src="images/flipbox1.jpg" alt="Outsoursing">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4 mb-lg-0">
                    <div class="support-box">
                        <div class="inner-box">
                            <div class="overlay flex-middle">
                                <span class="number-box">02</span>
                                <div class="inner">
                                    <p>Entrust full-cycle implementation of your software product to our experienced BAs, UI/UX designers, developers.</p>
                                    <a href="web-development.html" class="btn-details"><i class="flaticon-right-arrow-1"></i> LEARN MORE</a>
                                </div>
                            </div>
                            <div class="content-box">
                                <span class="number-box">02</span>
                                <h3>Custom Software</h3>
                                <img src="images/flipbox2.jpg" alt="Custom Software">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <div class="support-box">
                        <div class="inner-box">
                            <div class="overlay flex-middle">
                                <span class="number-box">03</span>
                                <div class="inner">
                                    <p>Entrust full-cycle implementation of your software product to our experienced BAs, UI/UX designers, developers.</p>
                                    <a href="mobile-development.html" class="btn-details"><i class="flaticon-right-arrow-1"></i> LEARN MORE</a>
                                </div>
                            </div>
                            <div class="content-box">
                                <span class="number-box">03</span>
                                <h3>Product Design</h3>
                                <img src="images/flipbox3.jpg" alt="Product Design">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="space-90"></div>
            <div class="row">
                <div class="col-md-12">
                    <div class="partners">
                        <div class="owl-carousel owl-theme home-client-carousel">
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client1.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client2.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client3.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client4.png" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client5.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client6.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client1.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client2.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client3.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client4.png" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client5.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                            <div class="partners-slide">
                                <a href="#" class="client-logo">
                                    <figure class="partners-slide-inner">
                                        <img class="partners-slide-image" src="images/client-logos/client6.svg" alt="">
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="section-inner-about">
                <div class="row">
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="left-img">
                            <img src="images/image1-home2.png" alt="">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="right-content">
                            <div class="ot-heading">
                                <span>// About Company</span>
                                <h2 class="main-heading">Your Partner for <br>Software Innovation</h2>
                            </div>
                            <p>Engitech is the partner of choice for many of the world’s leading enterprises, SMEs and technology challengers. We help businesses elevate their value through custom software development, product design, QA and consultancy services.</p>
                            <p><em class="text-dark"><strong>We can help to maintain and modernize your IT infrastructure and solve various infrastructure-specific issues a business may face.</strong></em></p>
                            <div class="space-20"></div>
                            <div class="ot-button">
                                <a href="about-us.html" class="octf-btn octf-btn-primary">Learn More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-technology">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-4 mb-lg-0">
                    <div class="technology-left">
                        <div class="ot-heading">
                            <span class="text-primary-light">// technology index</span>
                            <h2 class="main-heading text-white">Improve and Innovate with the Tech Trends</h2>
                        </div>
                        <p>Our team can assist you in transforming your business through latest tech capabilities to stay ahead of the curve.</p>
                        <ul class="style-none text-white">
                            <li><i class="fas fa-check"></i> Application Development</li>
                            <li><i class="fas fa-check"></i> BI Consulting and Implementation</li>
                            <li><i class="fas fa-check"></i> Machine and Deep Learning</li>
                            <li><i class="fas fa-check"></i> Data Quality Management</li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center" href="web-development.html" target="_blank">
                                <div class="icon-main"><span class="flaticon-code-1"></span></div>
                                <h5>WEB</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center" href="mobile-development.html">
                                <div class="icon-main"><span class="flaticon-android"></span></div>
                                <h5>Android</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center" href="mobile-development.html">
                                <div class="icon-main"><span class="flaticon-apple"></span></div>
                                <h5>IOS</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center mb-0" href="it-services.html">
                                <div class="icon-main"><span class="flaticon-iot"></span></div>
                                <h5>IOT</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center mb-0" href="it-services.html">
                                <div class="icon-main"><span class="flaticon-time-and-date"></span></div>
                                <h5>Wearalables</h5>
                            </a>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <a class="tech-box text-center mb-0" href="mobile-development.html">
                                <div class="icon-main"><span class="flaticon-tv"></span></div>
                                <h5>TV</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-case-study">
        <div class="container">
            <div class="cta-h2">
                <div class="row">
                    <div class="col-lg-8 col-md-8 mb-4 mb-md-0">
                        <div class="ot-heading">
                            <span>// We Carry more Than Just Good Coding Skills</span>
                            <h2 class="main-heading">Let's Build Your Website!</h2>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 align-self-end">
                        <div class="ot-button text-center text-md-right">
                            <a href="contact.html" class="octf-btn octf-btn-primary">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-5">
                    <div class="ot-heading mb-0">
                        <span>// latest case studies</span>
                        <h2 class="main-heading">Introduce Our Projects</h2>
                    </div>
                </div>
                <div class="col-lg-5 align-self-end">
                    <p class="mb-0">We’ve exceled our experience in a wide range of industries to bring valuable insights and provide our customers.</p>
                </div>
                <div class="col-lg-2 align-self-end">
                    <div class="ot-button">
                        <a href="portfolio-grid.html" class="btn-details"><i class="flaticon-right-arrow-1"></i>VIEW ALL PROJECTS</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="project-filter-wrapper pt-50">
                        <div class="projects-grid projects-style-1 projects-col3 projects-no-gaps">

                            <div class="project-item design ideas">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-1.html">
                                            <img src="images/projects/720x720/project1-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-1.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-1.html">App for Virtual Reality</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Design</a><span>/</span>
                                                <a href="#">Ideas</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item development">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-2.html">
                                            <img src="images/projects/720x720/project2-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-2.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-2.html">Mobile Coin View App</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Development</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item ideas technology">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-3.html">
                                            <img src="images/projects/720x720/project3-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info">
                                        <a class="overlay" href="portfolio-details-3.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-3.html">Analysis of Security</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Ideas</a><span>/</span>
                                                <a href="#">Technology</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item design ideas">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-1.html">
                                            <img src="images/projects/720x720/project4-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-1.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-1.html">eCommerce Website</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Design</a><span>/</span>
                                                <a href="#">Ideas</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item development ideas">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-2.html">
                                            <img src="images/projects/720x720/project6-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-2.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-2.html">Responsive Design</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Development</a><span>/</span>
                                                <a href="#">Ideas</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="project-item development">
                                <div class="projects-box">
                                    <div class="projects-thumbnail">
                                        <a href="portfolio-details-3.html">
                                            <img src="images/projects/720x720/project5-720x720.jpg" alt="">
                                        </a>
                                    </div>
                                    <div class="portfolio-info ">
                                        <a class="overlay" href="portfolio-details-3.html"></a>
                                        <div class="portfolio-info-inner">
                                            <h5><a href="portfolio-details-3.html">App for Health</a></h5>
                                            <p class="portfolio-cates">
                                                <a href="#">Development</a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-110">
                <div class="col-md-3 col-sm-6 col-6 mb-4 sb-sm-0">
                    <div class="ot-counter">
                        <div>
                            <span class="num" data-to="330" data-time="2000">0</span>
                            <span>+</span>
                        </div>
                        <h6>Active Clients</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6 mb-4 sb-sm-0">
                    <div class="ot-counter">
                        <div>
                            <span class="num" data-to="850" data-time="2000">0</span>
                            <span>+</span>
                        </div>
                        <h6>projects done</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="ot-counter">
                        <div>
                            <span class="num" data-to="25" data-time="2000">0</span>
                            <span>+</span>
                        </div>
                        <h6>team advisors</h6>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-6">
                    <div class="ot-counter">
                        <div>
                            <span class="num" data-to="10" data-time="2000">0</span>
                            <span>+</span>
                        </div>
                        <h6>Glorious Years</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-industris">
        <div class="container">
            <div class="col-md-12 text-center">
                <div class="ot-heading">
                    <span>// BUSINESS INDUSTRIES</span>
                    <h2 class="main-heading">Business Industries <br>What We Serve</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="ot-industries">
                <div class="owl-carousel owl-theme industries-inner ot-industries-slider">

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="images/b-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Business & Finance</h6>
                                <div class="itext">
                                    The global economy is moving towards a new identity. In order to remain competitive and profitable, the banking and finance.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="images/g-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Gaming & Enterteinment</h6>
                                <div class="itext">
                                    The global economy is moving towards a new identity. In order to remain competitive and profitable, the banking and finance.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="images/t-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Information Technology</h6>
                                <div class="itext">
                                    The global economy is moving towards a new identity. In order to remain competitive and profitable, the banking and finance.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="images/r-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Retail & Distribution</h6>
                                <div class="itext">
                                    The global economy is moving towards a new identity. In order to remain competitive and profitable, the banking and finance.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="images/b-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Business & Finance</h6>
                                <div class="itext">
                                    The global economy is moving towards a new identity. In order to remain competitive and profitable, the banking and finance.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="images/g-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Gaming & Enterteinment</h6>
                                <div class="itext">
                                    The global economy is moving towards a new identity. In order to remain competitive and profitable, the banking and finance.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="images/t-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Information Technology</h6>
                                <div class="itext">
                                    The global economy is moving towards a new identity. In order to remain competitive and profitable, the banking and finance.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="indus-item">
                        <div class="item-inner">
                            <div class="overlay"></div>
                            <div class="i-image">
                                <img src="images/r-image.png" alt="">
                            </div>
                            <div class="iinfo">
                                <h6>Retail & Distribution</h6>
                                <div class="itext">
                                    The global economy is moving towards a new identity. In order to remain competitive and profitable, the banking and finance.
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="section-consultation">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <p>// Drop us a line! We are here to answer your questions 24/7</p>
                    <h2>NEED A CONSULTATION?</h2>
                    <div class="ot-button">
                        <a href="contact.html" class="octf-btn octf-btn-primary">Contact Us</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
