<header id="site-header" class="site-header header-style-2 header-fullwidth sticky-header header-static">
  <!-- Main Header start -->
  <div class="header-topbar">
    <div class="octf-area-wrap">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6">
            <ul class="topbar-info">
              <li><i class="fas fa-envelope"></i><a href="mailto:contato@linkysystems.com">contato@linkysystems.com</a>
              </li>
            </ul>
          </div>
          <div class="col-md-6 text-right">
            <div class="topbar-right">
              <ul class="extra-text">
                <li>Somos criativos, ambiciosos e prontos para desafios! <a href="/contato">Contrate-nos</a></li>
              </ul>
              <ul class="social-list">
                <li><a href="https://www.linkedin.com/company/linky-systems" target="_self"><i class="fab fa-linkedin-in"></i></a>
                </li>
                <li><a href="https://github.com/linkysystems" target="_self"><i class="fab fa-github"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="octf-main-header">
    <div class="octf-area-wrap">
      <div class="container-fluid octf-mainbar-container">
        <div class="octf-mainbar">
          <div class="octf-mainbar-row octf-row">
            <div class="octf-col logo-col">
              <div id="site-logo" class="site-logo">
                <a href="/">
                  <img src="/img/logoo.png" alt="Linky Systems">
                </a>
              </div>
            </div>
            <div class="octf-col menu-col">
              <nav id="site-navigation" class="main-navigation">
                <ul class="menu">
                  {{ $current := . }}

                  {{ range .Site.Menus.main.ByWeight }}
                    {{ $topLevel := replace .URL "/" "" }}
                    {{ $active := "" }}

                    {{ if eq $current.RelPermalink .URL }}
                      {{ $active = "active" }}
                    {{ end }}

                    {{ if eq $current.Type $topLevel }}
                      {{ $active = "current-menu-item current-menu-ancestor" }}
                    {{ end }}

                    {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
                      {{ range (split .URL "/") }}
                        {{ if eq "blog" . }}
                          {{ $active = "active" }}
                        {{ end }}
                      {{ end }}
                    {{ end }}

                    {{ if .HasChildren }}
                      <!-- Check if the first child marks a menu section identifier -->
                      {{ $hasSections := (hasPrefix (index .Children 0).Identifier "section.") }}
                      <li class="menu-item-has-children {{ $active }}">
                          <a href="{{ .URL }}">{{ .Name }}</a>
                          <ul class="sub-menu">
                              {{ range .Children.ByWeight }}
                              <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                              {{ end }}
                          </ul>
                      </li>
                    {{ else }}
                    <li class="{{ $active }}">
                      <a href="{{ .URL }}">{{ .Name }}</a>
                    </li>
                    {{ end }}
                  {{ end }}
                </ul>
              </nav>
            </div>
            <div class="octf-col cta-col text-right">
              <div class="octf-btn-cta">
                <div class="octf-header-module">
                  <div class="btn-cta-group contact-header">
                    <i class="fas fa-phone"></i>
                    <div class="cinfo-header">
                      <span>Precisa de ajuda?</span>
                      <span class="main-text"><a href="http://wa.me/5521960205871" target="_blank">+55 21 960205871</a></span>
                    </div>
                  </div>
                </div>

                <div class="octf-header-module">
                  <div class="btn-cta-group btn-cta-header">
                    <a class="octf-btn octf-btn-third" href="/contato">Contato</a>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="header_mobile">
    <div class="container">
      <div class="mlogo_wrapper clearfix">
        <div class="mobile_logo">
          <a href="/">
            <img src="/img/logoo.png" alt="Linky Systems">
          </a>
        </div>
        <div id="mmenu_toggle">
          <button></button>
        </div>
      </div>
      <div class="mmenu_wrapper">
        <div class="mobile_nav collapse">
          <ul id="menu-main-menu" class="mobile_mainmenu">
            {{ $current := . }}
            {{ range .Site.Menus.main.ByWeight }}
              {{ $topLevel := replace .URL "/" "" }}
              {{ $active := "" }}

              {{ if eq $current.RelPermalink .URL }}
                {{ $active = "active" }}
              {{ end }}

              {{ if eq $current.Type $topLevel }}
                {{ $active = "current-menu-item current-menu-ancestor" }}
              {{ end }}

              {{ if and (or (eq $current.RelPermalink .URL) (eq "term" $current.Kind)) (in (slice "page" "term") $current.Kind) }}
                {{ range (split .URL "/") }}
                  {{ if eq "blog" . }}
                    {{ $active = "active" }}
                  {{ end }}
                {{ end }}
              {{ end }}

              {{ if .HasChildren }}
                {{ $hasSections := (hasPrefix (index .Children 0).Identifier "section.") }}
                <li class="menu-item-has-children {{ $active }}">
                    <a href="{{ .URL }}">{{ .Name }}</a>
                    <ul class="sub-menu">
                        {{ range .Children.ByWeight }}
                        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                        {{ end }}
                    </ul>
                </li>
              {{ else }}
              <li class="{{ $active }}">
                <a href="{{ .URL }}">{{ .Name }}</a>
              </li>
              {{ end }}
            {{ end }}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>