<div class="container" id="projects">

  <!DOCTYPE html>
  <html lang="pt-br">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Full width event card</title>
  </head>

  <body>

    <div class="w-full py-10">
      <div class="container mx-auto px-6 flex items-start justify-center">
        <div class="w-full">
          <dh-component>
            <!-- Card is full width. Use in 12 col grid for best view. -->
            <!-- Card code block start -->
            <div class="flex flex-col-reverse lg:flex-row w-full bg-white dark:bg-wihte-800 shadow rounded">
              <div class="w-full lg:w-1/2">
                <div aria-label="card" class="pt-4 lg:pt-6 pb-4 lg:pb-6 pl-4 lg:pl-6 pr-4 lg:pr-6">
                  <div class="flex justify-between items-center lg:items-start flex-row-reverse lg:flex-col">
                  </div>
                  <h1 class=" mt-4 mb-2 tracking-normal text-xl lg:text-2xl font-bold">Monitor Do Mercado</h1ele>
                    </a>
                    <p
                      class="mb-6 font-big text-gray-600 dark:text-gray-400 text-big tracking-normal w-11/12 lg:w-9/12">
                    <h2>Antigamente, jornalistas e pessoas interessadas pelas informações do mercado financeiro tinham
                      dificuldades em acompanhar as informações atualizadas sobre a Bovespa e as principais empresas do
                      país. Outro problema comum era o formato das notícias, disponibilizadas em PDF ou páginas HTML.
                      Com
                      apoio da Linky Systens, o site Monitor do Mercado foi lançado para facilitar o acesso às
                      informações
                      importantes das mais diversas fontes sobre o assunto.</h2>
                    </p>
                </div>
              </div>
              <div
                class="relative w-full h-64 lg:h-auto lg:w-1/2 rounded-t lg:rounded-t-none lg:rounded-r inline-block">
                <img class="monitor" src="" alt="" />

                <img src="/img/monitor-logo-amarelo.png"
                  class="relative w-full h-64 lg:h-auto lg:w-1/2 rounded-t lg:rounded-t-none lg:rounded-r inline-block"
                  alt="banner">
              </div>
              <style>
                .checkbox:checked {
                  border: none;
                }

                .checkbox:checked+.check-icon {
                  display: flex;
                }
              </style>
            </div>
            <!-- Card code block end -->
          </dh-component>
        </div>
      </div>
    </div>

  </body>

  </html>


</div>