{{ template "_internal/google_analytics.html" . }}
<a id="back-to-top" href="#" class="show"><i class="flaticon-up-arrow"></i></a>
<!-- jQuery -->
<script src='{{ "js/jquery.min.js" | relURL }}'></script>
<script src='{{ "js/jquery.magnific-popup.min.js" | relURL }}'></script>
<script src='{{ "js/jquery.isotope.min.js" | relURL }}'></script>
<script src='{{ "js/owl.carousel.min.js" | relURL }}'></script>
<script src='{{ "js/easypiechart.min.js" | relURL }}'></script>
<script src='{{ "js/jquery.countdown.min.js" | relURL }}'></script>
<script src='{{ "js/scripts.js" | relURL }}'></script>
<script src='{{ "js/header-mobile.js" | relURL }}'></script>
<script src='{{ "js/royal_preloader.min.js" | relURL }}'></script>
<script>
    window.jQuery = window.$ = jQuery;
    (function($) { "use strict";
        //Preloader
        Royal_Preloader.config({
            mode           : 'logo',
            logo           : '{{ "images/logo.png" | relURL }}',
            logo_size      : [160, 75],
            showProgress   : true,
            showPercentage : true,
            text_colour: '#000000',
            background:  '#ffffff'
        });
    })(jQuery);
</script>
