.box-image-text .image {
  min-height: 190px;
  max-height: 190px;
}

.box-image-text .image img {
  max-height: 350px;
  margin: auto;
}

.box-simple {
  min-height: 230px;
}

.box-image-text {
  box-shadow: 2px 2px 5px #999;
  border-radius: 4px;
}