{{ if .Site.Params.widgets.categories }}
{{ if isset .Site.Taxonomies "categories" }}
{{ if not (eq (len .Site.Taxonomies.categories) 0) }}
<aside class="widget widget_categories">
    <h5 class="widget-title">{{ i18n "categoriesTitle" }}</h5>
    <ul>
        {{ $current := . }}
        {{ range $name, $items := .Site.Taxonomies.categories }}
            <li>
                <a class="{{ if eq $current.RelPermalink ($name | urlize | lower | printf "/categories/%s/") }}active{{ end }}" href="#">{{ $name | upper }}"</a> <span class="posts-count">({{ len $items }})</span>
            </li>
        {{ end }}
    </ul>
</aside>
{{ end }}
{{ end }}
{{ end }}
