{{ if isset .Site.Params.widgets "search" }}
{{ if .Site.Params.widgets.search }}
<aside id="search-2" class="widget widget_search">
    <form action="//google.com/search" method="get" accept-charset="UTF-8" role="search" id="search-form" class="search-form">
        <input type="search" class="search-field" placeholder="{{ i18n "searchTitle" }}..." name="q">
        <input type="hidden" name="sitesearch" value="{{ "/" | absURL }}">
        <button type="submit" class="search-submit"><i class="flaticon-search"></i></button>
    </form>
</aside>
{{ end }}
{{ end }}
